/* global setup */
:root{
  /* Font Color */
--font-black: #111111;

--font-white: #ffffff;

--font-dark-white: #bdbdbd;

--font-dark-grey: #333;

--font-grey: #666;

--font-light-grey: #999;

--font-red: #e60055;

/* Background Color */

--back-grey: #eeeeee;

--back-white-grey: #f5f5f5;

--back-deep-white-grey: #f9f9f9;

--back-white: #ffffff;

--back-pink: #fef2f6;

/* Font size */

--font-large: 3.5rem;

--font-medium: 2.5rem;

--font-regular: 1.2rem;

--font-small: 1rem;

--font-micro: 0.8rem;

/* Font weight */

--weight-bold: 700;

--weight-semi-bold: 600;

--weight-medium: 400;

--weight-regular: 300;

/* Size*/
--size-border-radius:10px;

/* Animation*/
--animation-duration: 300ms;
}

* {
  /* max-width: 100%; */
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "IBM-font";
}

a{
  text-decoration: none;
  color:var(--color-white);
}

ul{
  list-style:none;
  margin:0px;
  padding:0px;
}

li {
  cursor: pointer;
}

body{
  margin:0px;
  cursor:default;
}

button{
  background-color: transparent;
  cursor: pointer;
  border:none;
  outline:none;
}
/* Typography */

h1 {

  font-size: var(--font-large);

  font-weight: var(--weight-bold);

  color:var(--font-black);

  margin: 16px 0px;

}

h2 {

  font-size: var(--font-medium);

  font-weight: var(--weight-medium);

  color: var(--font-black);

  margin: 0;

}

h3 {

  font-size: var(--font-regular);

  font-weight: var(--weight-medium);

  color: var(--font-light-grey);

  margin: 8px 0;

}

h5 {
  margin: 4px 0;
}

h6 {
  margin: 4px 0;
}


p {
  
  margin: 4px 0;

}

/* -------------------- Navbar props -----------------*/

#navbar {
  top:0;
  left:0;
  right:0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: 400ms;
}

.navbar__move {
  background-color: var(--font-red);
  transition: 400ms;
  color: white;
}

.navbar__logo {
  width: 9rem;
  height: 2.5rem;
  margin-left: 6vw;
}

.navbar__lists {
  display: flex;
  font-weight: bold;
  margin-right: 4rem;
}

.navbar__hambuger1 {
  display: none;
  width: 2.5rem;
  margin:1rem 1rem 1rem 1rem;
}

.navbar__hambuger2 {
  display: none;
  width: 3rem;
  margin:0.8rem 1rem 0.8rem 1rem;
}

.navbar__list {
  padding:2rem 1rem 2rem 1rem;
}

.navbar__list:hover {
  border-top:solid 5px var(--font-red);
  padding-top:1.7rem;
  color: var(--font-red);
  transition: 100ms;
}

.navbar__move li:hover {
  border-top:solid 5px var(--font-white);
  color: var(--font-white);
}

.navbar__sidebar__menus { 
  display: none;
}

.navbar__sidebar__menus.on {
  position: fixed;
  text-align: right;
  font-size: 1.5rem;
  width: 60vw;
  height: 100vh;
  left:40vw;
  color: var(--font-white);
  background-color: var(--font-red);
  z-index: 2;
  animation-name: sidebarMove;
  animation-duration: 300ms;
  animation-timing-function: ease-in; 

}

.navbar__sidebar__menu_exit {
  width: 4.5rem;
  padding:1rem;
}

.navbar__sidebar__menu{
  margin:0.5rem;
  padding:0.5rem;
}

/* -------------------- Banner -----------------*/

#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: url("../images/main_back-ground.jpg") center/cover no-repeat;
  border-bottom: var(--font-red) 4vh solid;
}

#banner h1 {
  color: var(--font-red);
}

.banner__texts {
  margin-left: 6rem;
}

.banner__images {
  flex-direction: column;
}

.banner__image-phone {
  position: relative;
  top:13vh;
  right: 4vw;
  max-width: 100%;
  height: 75vh;
  width:auto;
}

.banner__buttons {
  display: flex;
  flex-wrap: wrap;
}

.banner__button {
  display: flex;
  width: 12.5rem;
  height: 3rem;
  font-size: var(--font-small);
  border: 1px solid var(--font-grey);
  border-radius: 50px;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.banner__button:hover {
  color : var(--font-white);
  background-color: var(--font-black);
  transition: 300ms;
}

.banner__button__logo {
  margin-right:1rem;
}

.banner__arrow {
  position: relative;
  display: flex;
  justify-content: center;
  animation-name: arrowMove;
  animation-duration: 600ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.banner__arrow img {
  width: 3rem;
  height: auto;
}
/* -------------------- Project Intro -----------------*/

#project__intro {
  text-align: center;
}

.project__intro__title {
  font-weight: var(--weight-regular);
  margin-top: 4rem;
}

.project__intro__line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--font-red);
}

.project__intro__image {
  width: 40rem;
  max-width: 100%;
}

/* -------------------- Service Intro -----------------*/

#service__intro {
  display: flex;
  justify-content: space-between;
  padding: 4vh 9vw 4vh 9vw;
  background-color: var(--back-grey);
}

.service__intro__box {
  width: 30rem;
  text-align: center;
}

.service__intro__image {
  width: 9.5rem;
  height: 9.5rem;
  margin: 2.5rem;
}

.service__intro__title {
  color: var(--font-red)
}

/* -------------------- Service Features -----------------*/

#service__features {
  background: url("../images/features_background.png") center/cover no-repeat;
}

.service__features__flag.on{
  position: relative;
  justify-content: space-between;
  display: flex;
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: ease-in; 
}

.service__features__flag {
  justify-content: space-between;
  display: none;
}

.service__features__texts {
  width: 50%;
  margin:10vh 0 0 10vw;
  margin-bottom: 0;
}

.service__features__subtitle {
  color: var(--font-red)
}

.service__features__line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
  border: none;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--font-red);
}

.service__features__description {
  height: 5rem;
}

.service__features__image {
  max-width:100%;
  width:30rem;
  height: auto;
}

.service__features__dots {
  display: flex;
}

.service__features__dot1 {
  margin:0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--font-red);
}

.service__features__dot {
  margin:0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--font-light-grey);
}

.service__features__image-mobile {
  display: none;
}


/* -------------------- App Screenshot -----------------*/

#screenshot {
  text-align: center;
}

.screenshot__title {
  margin-top: 4rem;
}

.screenshot__line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--font-red);
}

.screenshot__description {
  margin-bottom: 3rem;
}

.screenshot__images {
  display: flex;
  justify-content: center;
}

.screenshot__image__background {
  display: inline;
  padding:1rem;
  margin:1rem;
  background-color: var(--back-grey);
}

.screenshot__image {
  max-width: 100%;
  width: 15rem;
  height: auto;
}

.screenshot__image-slide {
  display: none;
}

.screenshot__images .service__features__dots {
  display: none;
}

.terms {
  color: white;
}

/* -------------------- Company Intro -----------------*/

#company__intro {
  padding:5vw;
  text-align: center;
  background-color: var(--back-white-grey);
}

.company__intro__line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--font-red);
}

.company__intro__image {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.company__intro__description {
  color: var(--font-black)
}

/* -------------------- Proposal -----------------*/

#proposal {
  text-align: center;
}

.proposal__title {
  margin-top: 4rem;
}
.proposal__boxes {
  display: flex;
  justify-content: center;
  margin:1rem;
}

.proposal__line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--font-red);
}

.proposal__box {
  max-width: 100%;
  margin-right:4rem;
}

.proposal__box__map {
  max-width: 100%;
  width: 40rem;
  height: auto;
}

.proposal__box__address {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.proposal__box__item {
  margin:0.5rem;
  display: flex;
}

.proposal__box__item__image {
  width: 4rem;
  height: 4rem;
}

.proposal__inputs {
  max-width: 100%;
  width: 40rem;
  display: flex;
  flex-direction: column;

}

.proposal__input {
  max-width: 100%;
  width: 100%;
  height: 3rem;
  padding:1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: none;
  outline:none;
  background-color: var(--back-white-grey);
}

.proposal__input__button {
  border: none;
  font-size: 2rem;
  border-radius: 3px;
  height: 4rem;
  color: var(--font-white);
  background-color: var(--font-red);
}

.proposal__input__button:hover {
  color: var(--font-white);
  background-color: var(--font-black);
  transition: 300ms;
}

.proposal__input.description {
  height: 13rem;
}

/* -------------------- Donwload -----------------*/

#download {
  padding-top:10vh;
  text-align: center;
  background-color: var(--font-red);
}

.download__title {
  color: var(--font-white);
}

.download__line {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: none;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--font-white);
}

.download__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.download__button {
  display: flex;
  width: 12.5rem;
  height: 3rem;
  font-size: var(--font-small);
  border-radius: 50px;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: var(--back-white);
}

.download__logo {
  margin-right: 1rem;
}

.download__button:hover {
  color:var(--font-white);
  background-color: var(--font-black);
  transition: 300ms;
}

.download__footer {
  display: flex;
  margin-top: 7vh;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  background-color: #303030;
}

/* -------------------- Modal -----------------*/

#modal {
  display: none;
  position: fixed;
  left: 37%;
  top:40%;
  width: 30rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 10px;
  border: solid 1px var(--font-light-grey);
  background-color: var(--back-white-grey);
  text-align: right;
}

#modal.on {
  display: block;
  animation: fade-in 1000ms;
}

.modal__box {
  text-align: center;
}

.modal__x {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-bottom:2rem;
}

.modal__x:hover {
  transform: scale(1.2);
}


.modal__title {
  color: var(--font-red);
}

/* - Font family - */
@font-face {
  font-family: "IBM-font";
  src:url("../font/ibm_eot/IBMPlexSansKR-Regular.eot");
  src: local("?"),
  url(/font/ibm_eot/IBMPlexSansKR-Regular.eot?#iefix) format("embedded-opentype"),
  url(/font/ibm_ttf/IBMPlexSansKR-Regular.ttf) format("truetype"),
  url(/font/ibm_woff/IBMPlexSansKR-Regular.woff) format("woff");
}

@keyframes fade-in {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    right:100px;
  }
  100% {
    right:0px;
  }
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sidebarMove {
  0% {
    left :90vw;
  }
  100% {
    left: 40vw;
  }
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrowMove {
  0% {
    bottom: 15vh;
  }
  100% {
    bottom: 10vh;
  }
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/*********************************
 ** Responsive page media query **
**********************************/
@media screen and (max-width: 1024px) {
  .navbar__lists {
    display: none;
  }

  .navbar__hambuger1.on {
    display: block;
  }

  .navbar__hambuger2.on {
    display: block;
  }

  .proposal__box {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  /* global */
  br {
    display: none;
  }

  h1 {
    font-size: 2rem;
    font-weight: var(--weight-bold);
    color:var(--font-black);
    margin: 16px 16px;
  }
  
  h2 {
    font-size: 1.7rem;
    font-weight: var(--weight-medium);
    color: var(--font-black);
    margin: 0 10px;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-medium);
    color: var(--font-light-grey);
    margin: 8px 8px;
  }
  
  h5 {
    margin: 4px 16px;
  }
  
  h6 {
    margin: 4px 16px;
  }
/* Navbar */

  .navbar__lists {
    display: none;
  }
  .navbar__hambuger1.on {
    display: block;
  }

  .navbar__hambuger2.on {
    display: block;
  }

  .navbar__sidebar__menus.on {
    display: block;
  }
  
/* Banner */
  #banner {
    display: flex;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
  }
  .banner__texts {
    margin:0;
  }
  .banner__image-phone {
    display: none;
  }

  .banner__buttons {
    display: flex;
    justify-content: center;
    
  }

  .screenshot__images {
    display: block; 
  }
  .screenshot__image__background {
    display: none;
  }
  
  .screenshot__image__background.on{
    display: block;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin-left:10vw;
    max-width: 80%;
    height: 70vh;
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: ease-in;
  }

  .screenshot__image {
    width: auto;
    height: 90%;
  }

  .screenshot__images .service__features__dots {
    display: flex;
  }

  /* Proposal 대기*/

  .proposal__box {
    display: none;
  }

  /* Service*/
  #service__intro {
    display: none;
  }
  
  .service__features__texts {
    text-align: center;
    align-items: center;
    width: 100%;
    margin:10vh 0 0 5vw;
    margin-bottom: 0;
  }
  
  .service__features__dots {
    display: flex;
    justify-content: center;
  }

  .service__features__line-div {
    display: flex;
    justify-content: center ;
  }
  .service__features__line {
    margin-right: 0;
  }

  .service__features__images {
    margin:0vh 8vw 0 5vw;
  }

  .service__features__image {
    display: none;
  }

  .service__features__image-mobile {
    display: block;
    width: 80vw;
  }


  /* Download */
  .download__buttons {
    display: flex;
  }

  .t {
    display: block;
  }
}
@media screen and (min-width: 768px) {

}